/*
* @subsection   RD Google Map
*
* @description  Describes style declarations for RD Google Map extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      1.0.0
*/
$map-height: 200px;
$map-xs-height: 250px;
$map-sm-height: 1200px;

.rd-google-map {
  color: #333;
  @media (max-width: $screen-md-min - 1) {
    margin-top: 50px;
  }
  &__model{
    height: $map-xs-height;

    img {
      max-width: none !important;
    }

    @media (min-width: $screen-xs-min) {
      height: $map-xs-height;
    }

    @media (min-width: $screen-lg-min) {
      height: $map-sm-height;
    }
  }

  &__locations{
    display: none;
  }
  p{
    font-size: 16px;
    line-height: 20px;
  }
}

.rd-google-map-var-1{
  @media (min-width: $screen-md-min) {
    height:1050px;
  }
}