/*
* @subsection   RD Mail Form
*
* @description  Describes style declarations for RD Mail Form extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      1.1.2
*/

$input-height: 58px;
$input-font-weight: inherit;
$input-font-size: 20px;
$input-line-height: 30px;

$input-offset-top: 6px;

$input-color: $grayscale-darken;
$input-background: #f9f9f9;

$input-border-radius: $border-radius-base;

$input-border-color: $grayscale-lighten;
$input-border: 1px solid $input-border-color;

$input-padding: ($input-height - $input-line-height) / 2 30px;

@if ($input-border != none) {
  $input-padding: ($input-height - $input-line-height - (nth($input-border, 1) * 2)) / 2 30px;
}

$textarea-height: 186px;

$placeholder-clr: $input-color;
$placeholder-opacity: 1;

.rd-mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  fieldset {
    border: none;

    > .row + .row{
      margin-top: $input-offset-top;
    }
  }
}

.rd-mailform label {
  position: relative;
  display: block;
  width: 100%;
  margin-top: $input-height / 2;

  &:first-child {
    margin-top: 0;
  }

  input, select {
    height: $input-height;
  }

  input, textarea {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    font-size: $input-font-size;
    padding: $input-padding;
    line-height: $input-line-height;
    color: $input-color;
    background: $input-background;

    @if ($input-border != none) {
      border: $input-border;
      border-radius: $input-border-radius;
    }

    &:-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &:-ms-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }
  }

  textarea {
    resize: vertical;
    overflow: auto;
    min-height: $input-height;
    height: $textarea-height;
    max-height: $textarea-height * 1.5;
  }

  @media (min-width: $screen-sm-min) {
    margin-top: $input-offset-top;
  }
}

/*
* MF Controls
*/

.mfControls {
  margin: 47px auto;
  button {

  }
}

@import "mailform_modules/_mf-animation.scss";
@import "mailform_modules/_mf-placeholder.scss";
@import "mailform_modules/_mf-validation.scss";
@import "mailform_modules/_mf-submit.scss";
@import "mailform_modules/_mf-icon.scss";
@import "mailform_modules/_mf-select.scss";
@import "mailform_modules/_mf-datepicker.scss";










