body{
}
.page-header{
  margin-top: 0px;
}
.page-header img{
  width: 100%;
  max-height: 100px;
}
.container.bg-white.well-md-var-2.contact-margin.text-md-left.text-center {
    padding-top: 0px !important;
}
#contact-form-header{
  color: black;
}
.col-md-10.col-md-preffix-1 {
    margin-top: 0px;
}
.text-bold{
    text-align: left;
}
.col-xs-12 {
    width: 100%;
}

input[type="text"],textarea{
  box-shadow:0 4px 8px 0 rgba(49, 73, 46, 0.1);
  height: 3em;
  margin: 0.2em;
  border: 1px solid #c8ddca;
}

textarea{
  min-height: 8em !important;
}

input[type="text"]:focus,textarea:focus{

  box-shadow:0 0px 6px 4px #5eff4680;;
}
.mfPlaceHolder {
  color:#a5b4a7;
}
.fancybox-item.fancybox-close {
    margin-right: 50px;
    margin-top: 50px;
}
