.page-header{
  margin-top: 0px;
}
.col-md-12.col-sm-12.col-xs-12.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.text-bold{
    text-align: left;
}
.col-xs-12 {
    width: 100%;
}
.mfPlaceHolder {
      outline: none;
      font-size: 0.875em;
      border-radius: 2px;
      color: rgba(46,61,73,0.3);
      transition: box-shadow 0.3s ease, border 0.3s ease;
}

input[type="text"]{
  box-shadow:0 4px 8px 0 rgba(49, 73, 46, 0.1);
  height: 3em;
  margin: 0.2em;
  border: 1px solid #c8ddca;
}

input[type="text"]:focus{

  box-shadow:0 0px 6px 4px #5eff4680;;
}
.col-md-12.col-sm-12.col-xs-12.btn-submit {
    margin-top: 1em;
    margin-bottom: 2em;
}
